@model PieListViewModel
    <!--model lowercase tell the view that the model it will use is of type PieListViewModel-->
    <!-- What datatype  we put here is what we pass to our view object in the controller-->

<h1>@Model.CurrentCategory</h1>

<div class="row">
    <!--Model Uppercase tell the view to use the data passed to the view from the controller-->
    @foreach (var pie in Model.Pies)
    {
        //Calling a partial view and passing in pie as the data object for that partial to use for each iteration
        <partial name="_PieList" model="pie" />

    }

</div>
